debug.log
data.dat
*.o
*.o.d
*.a
*.lo
*.la
*.al
*.pyc
*.pyo
__pycache__
*.rej
*~
#*#
.#*
.*.swp
*.log

*/bin/
*/gen/
.DS_Store
*.xcuserstate
project.xcworkspace
xcuserdata
UserInterfaceState.xcuserstate
project.xcworkspace/
xcuserdata/
UserInterface.xcuserstate
cache
hotupdate
frameworks/runtime-src/proj.ios_mac/poker iOS/
woyaoent.keystore
/frameworks/runtime-src/proj.android/build
/frameworks/runtime-src/proj.android/.gradle
/frameworks/runtime-src/proj.android/.idea
/frameworks/runtime-src/proj.android/local.properties
/frameworks/runtime-src/proj.android/adb_tt.bat
/frameworks/runtime-src/proj.android/app/build
/frameworks/runtime-src/proj.android/app/src/main/aidl
/frameworks/runtime-src/proj.android/app/src/main/assets
/frameworks/runtime-src/proj.android/libcocos2dx/build
/frameworks/runtime-src/proj.android/libcocos2dx/obj
/frameworks/runtime-src/proj.android/libcocos2dx/src/main/libcocos2dx
res_temp
